body{
    font-size: 18px;
    background-color: #cae4db;
}

h1, h3{
    font-family: 'Mate', serif;
    font-family: 'Marcellus', serif;
}

p{
    font-family: 'Mate', serif;
    font-family: 'Marcellus', serif;
}
main{
    display: grid;
    grid-template-columns: lfr;
    font-size: 0.8rem;
}



/*tablet views*/
@media only screen and (min-width: 37.5em)
{
    main{
        grid-template-columns: lfr lfr;
    }

    section:nth-child(3)
    {grid-column: span2}
}


/*desktop view*/
@media only screen and (min-width: 60em)
{
    main{
        grid-template-columns: lfr lfr lfr;
    }

    section:nth-child(3)
    {grid-column: span1}
}
}