body {
  background-color: #cae4db;
}

div {
  width: auto;
  border: 2px solid #00303f;
  padding: 5px;
  margin: 10px;
}

h1 {
  font-family: verdana;
  font-size: 300%;
}

h2 {
  font-family: courier;
  font-size: 200%;
}

img {
  width: 250px;
  float: right;
  border: 1px solid black;
  margin: 20px;
}
