body {
	background-color: #FFFFF8;
	padding: 0;
	margin: 0;
	font-family: 'PT Sans Caption', sans-serif;
}

header {
	background-color: #043C53  ;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: #FFFFF8;
	margin-left: 20px;
	font-size: .9rem;
	text-align: center;
}

.pagetitle{
	font-style:bold;
	color: #0C121D;
	text-align: center;
}


/* Larger viewports */
@media only screen and (min-width: 32.5em) {
	header img {
		width: 50%;
	}

	.headings h1 {
		font-size: 3rem;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #0489A9;
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #0489A9;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: #0489A9  ;
	background-color: #FFF209;
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: #FFFFF8;
	}
}

/*hover*/
.weather img{
	max-width: 80%;
	display: block;
	margin-left:auto;
	margin-right:auto;

}

.summary{
	text-align: center;
	border: 2px solid #043C53;
	width: 200px;
	height: 200px;
	position: relative;
	bottom:350px;
	left:55px;
	background-color: #0489A9;
	margin:20px;
}

/*article*/
.article{
	width: auto;
	text-align: wrap;
	padding:20px;
	display: block;
	background-color: #0489A9; 
	color: #043c53;
	margin: 20px;
}
.article img{
	max-width:60%;
	display:block;
	height: auto;
	float: right;
	position: relative;
	bottom: 200px;

}

/*contact*/

.contact {
	width: auto;
	text-align: center;
	padding:20px;
	display: block;
	background-color: #0489A9; 
	color: #043c53;
	margin: 20px;
}
.contact img{
	max-width:40%;
	height: auto;
	float: left;
	position: absolute;
	border: 2px solid #043C53;
}

.child1{
    background-color: white;
    margin: 5px;
}